.builder {
  display:flex;
  flex-direction:column;
  flex-flow:center;
  width: 80%
}

.label {
  float:left;
  width: 30%;
  text-align: right;
  padding-bottom:10px;
}

.fieldContainer {
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.fieldContainer input {
  width: 65%;
}

textarea {
  width:100%;
  height:auto;
  margin:auto;
}